:root{
    --background: #121212;
    --text: #E0E0E0;
    --ready: #0d542b;
    --waiting: #82181a;
    --menu-hover-text: #121212;
    --menu-hover-bg: #E0E0E0;
    --button-bg: transparent;
    --remove-button-active-color: #FA1E14;
    --dnf-button-active-color: #F3C623;
    --plus2-button-active-color: #fff;
    --overlay-bgcolor: rgba(0, 0, 0, 0.8);
    --border-color: #a1a1a1;
    --table-header-divider-color: #44403b;

    
    --border-width: 1px;
    --radius: 0.5rem;

    
    --font-size-xs: 0.875rem;  
    --font-size-sm: 1rem;      
    --font-size-md: 1.25rem;   
    --font-size-lg: 1.5rem;    
    --font-size-xl: 2rem;      

    --time-font-size: 8rem;
    --scramble-font-size: 2rem;
    --timer-running-font-size: 10rem;

    
    --transition-fast: 0.15s;
    --transition-normal: 0.25s;

    --space-2xs: 0.25rem;  
    --space-xs: 0.5rem;     
    --space-sm: 0.75rem;    
    --space-md: 1rem;       
    --space-lg: 1.5rem;     
    --space-xl: 2rem;       
    --space-2xl: 3rem;      
}




[data-theme="light"]{
    --background: #E0E0E0;
    --text: #121212;
    --menu-hover-text: #E0E0E0;;
    --menu-hover-bg: #121212;
    --button-bg: transparent;
    --remove-button-active-color: #FA1E14;
    --dnf-button-active-color: #F3C623;
    --plus2-button-active-color: #fff;
    --overlay-bgcolor: rgba(0, 0, 0, 0.8);
    --border-color: #a1a1a1;
    --table-header-divider-color: #44403b;
}